<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SolarOffgridSystemDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SolarOffgridSystemDesigner.Properties.Settings>
            <setting name="ModuleLosses" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="LPSecurityFactor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ka" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Kb" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Kc" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Kr" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Kx" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Daut" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Pd" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Kt" serializeAs="String">
                <value>0.65</value>
            </setting>
            <setting name="APIKey_NREL" serializeAs="String">
                <value>u9hEEQj62HzHMi9wUvEWe3LxC25aAgdFfFMiwQHy</value>
            </setting>
            <setting name="InterspaceLength" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="ReportCompWebsite" serializeAs="String">
                <value>http://classlesoft.in</value>
            </setting>
            <setting name="ReportCompAddress" serializeAs="String">
                <value>Cologne, Germany</value>
            </setting>
        </SolarOffgridSystemDesigner.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Design" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
